1 - O que é algoritmo
2 - O que é estrutura de dados
3 - Como classificamos a linguagem C
4 - Qual a função das bibliotecas da linguagem, cite 5
6 - Defina, lista, fila e pilha, First in, First out FIFO E LIFO
7 - A linguagem c é case sensitive
8 - Cite exemplos de palavras reservadas
9 - Crie um exemplo pratico de Fila, e crie um exemplo prático de LIFO
